<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input type="text" [(ngModel)]="product.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Descrição do produto</ion-label>
    <ion-input aria-placeholder="Descreva o produto aqui..." type="text" [(ngModel)]="product.description"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button color="secondary" outline type="submit" (click)="submit()">Salvar</button>
  </div>

</ion-content>